{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Página de Login{% endblock %}

{% block main %}
<br>
<h2> Login </h2>
    <div class="jumbotron">
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-warning">Login</button>
    </form>
        <br>
        <p align="right"><a href="{% url 'password_reset' %}">Esqueci minha senha!</a></p>
    </div>
{% endblock %}

{% block footer %}

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Desenvolvimento Web com Django 2.2.10</span>
        </div>
    </footer>

{% endblock %}


