{% extends 'base.html' %}
{% load filters %}

{% block title %} Lista de Clientes{% endblock %}

{% block main %}

    {% if user.is_authenticated %}
    <br><strong>{{ request.session.message }}</strong>
        <a href="{% url 'logout' %}"><span class="badge badge-secondary">Sair</span></a>
    {% endif %}
    <br>
    <a href="{% url 'password_change' %}">Trocar senha</a>
    <br>
    <h2>Clientes</h2>

    <br>
    <div class="row">
        <form action="" class="form-group">
            <input type="text" name="nome" placeholder="Digite o nome">
            <input type="text" name="sobrenome" placeholder="Digite o sobrenome">

            <button>Pesquisar</button>
        </form>
    </div>
    <br>
    <table class="table table-hover">
       <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col">Full Name</th>
               <th scope="col">Age</th>
               <th scope="col">Salary</th>
               <th scope="col">Excluir</th>
           </tr>
       </thead>
       <tbody>
            {% for p in persons %}
                <tr>
                    <td scope="row"> {{ p.id }} </td>
                    <td> <a href="{% url 'person_update' p.id %}">{{ p.nome_completo|title }}</a> </td>
                    <td> {{ p.age }} </td>
                    <td> {{ p.salary }} </td>
                    <td><a href="{% url 'person_delete' p.id %}" ><span class="badge badge-danger">Excluir Registro</span></a></td>
                 </tr>
            {% empty %}
                    <strong>Nenhum cliente encontrado :( </strong><br><br>
            {% endfor %}
       </tbody>
    </table>
    <br>
    <a href="{% url 'person_new' %}" class="btn btn-primary">Novo</a>


<!--{{ 123.3445|arredonda:3 }}-->
<!--<br>-->


{% endblock %}

{% block footer %}

    {% include 'footer.html' %}

{% endblock %}
