{% extends 'base.html' %}


{% block title %} Lista de Clientes{% endblock %}

{% block main %}

    {% if user.is_authenticated %}
    <br><strong>Olá {{ user.username }}</strong>
        <a href="{% url 'logout' %}"><span class="badge badge-secondary">Sair</span></a>
    {% endif %}
    <br>
    <br>
    <h2>Clientes</h2>

    <br>
    <div class="row">
        <form action="" class="form-group">
            <input type="text" name="nome" placeholder="Digite o nome">
            <input type="text" name="sobrenome" placeholder="Digite o sobrenome">

            <button>Pesquisar</button>
        </form>
    </div>
    <br>
    <table class="table table-hover">
       <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col">First Name</th>
               <th scope="col">Last Name</th>
               <th scope="col">Age</th>
               <th scope="col">Salary</th>
               <th scope="col">Excluir</th>
           </tr>
       </thead>
       <tbody>
            {% for p in persons %}
                <tr>
                    <td scope="row"> {{ p.id }} </td>
                    <td> <a href="{% url 'person_update' p.id %}">{{ p.first_name }}</a> </td>
                    <td> {{ p.last_name }} </td>
                    <td> {{ p.age }} </td>
                    <td> {{ p.salary }} </td>
                    <td><a href="{% url 'person_delete' p.id %}" ><span class="badge badge-danger">Exluir Registro</span></a></td>
                 </tr>
            {% endfor %}
       </tbody>
    </table>
    <br>
    <a href="{% url 'person_new' %}" class="btn btn-primary">Novo</a>

{% endblock %}
